@page "/"

<h1 class="text-center" style="margin-top:20px;">
    Welcome to Ithari International College
</h1>

<div style="text-align:center; margin-top:20px;">
    <img src="images/iic1.jpg"
         alt="Ithari International College"
         style="width:350px; border-radius:10px;" />
</div>

<p style="margin: 25px; font-size: 18px; line-height: 1.6; text-align:justify;">
    Ithari International College is committed to excellence in education, fostering a
    dynamic and inspiring learning environment. We empower students to achieve
    their academic and professional goals while nurturing creativity, leadership,
    and ethical values for a successful future.
</p>